.game-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}
.game-card,
.game-card > img {
  width: 415px;
  height: 415px;
  /* border: 1px solid black; */
  border-radius: 8px;
}

@media (max-width: 1600px) {
  .game-card,
  .game-card > img {
    width: 388px;
    height: 388px;
  }

  .game-card-none-mobile {
    display: none;
  }
}
