<div class="game-card-container">
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
  <div class="game-card">
    <img src="{{ photoCover }}" alt="" />
  </div>
</div>
