.game-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}
.game-card,
.game-card > img {
  width: 415px;
  height: 415px;
  border-radius: 8px;
  cursor: pointer;
}

.game-card img {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.game-card:hover img {
  opacity: 0.9;
  background-color: black;
}

@media (max-width: 1600px) {
  .game-card,
  .game-card > img {
    width: 388px;
    height: 388px;
  }

  .game-card-none-mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .game-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .game-card,
  .game-card > img {
    width: 190px;
    height: 190px;
  }
}
