<footer class="footer">
  <div class="footer-header">
    <img
      src="./../../../assets/icons8-playstation-60.png"
      alt="ícone da Playstation Store"
    />

    <img src="./../../../assets/icons8-world-48.png" alt="Globo ícone" />
    <span class="span-region">País/regiao: Brasil</span>
  </div>

  <div class="ul-container">
    <ul>
      <li><a class="footer-action" href="">Suporte</a></li>
      <li><a class="footer-action" href="">Política de Privacidade</a></li>
      <li><a class="footer-action" href="">Termos de uso do site</a></li>
      <li><a class="footer-action" href="">Mapa do site</a></li>
      <li><a class="footer-action" href="">Playstation Studios</a></li>
      <li><a class="footer-action" href="">Legal</a></li>
      <li><a class="footer-action" href="">Sobre a SIE</a></li>
    </ul>

    <ul>
      <li><a class="footer-action" href="">Termos de serviço da PSN</a></li>
      <li>
        <a class="footer-action" href=""
          >Política de cancelamento da PS Store</a
        >
      </li>
      <li><a class="footer-action" href="">Avisos de saúde</a></li>
      <li><a class="footer-action" href="">Sobre as classificações</a></li>
    </ul>

    <ul>
      <li><a class="footer-action" href="">Facebook</a></li>
      <li><a class="footer-action" href="">Twitter</a></li>
      <li><a class="footer-action" href="">Youtube</a></li>
      <li><a class="footer-action" href="">Instagram</a></li>
      <li>
        <a class="footer-action" class="footer-action" href=""
          >Aplicativo para Android</a
        >
      </li>
      <li><a class="footer-action" href="">Aplicativo para iOS</a></li>
    </ul>
  </div>
</footer>
