ul {
  list-style: none;
}

a {
  padding: 12px;
}

a:hover {
  color: rgba(224, 224, 224, 0.735);
}

.footer {
  height: 60%;
  border: 1px solid black;
  background-color: #003697;
  color: white;
  padding: 56px;
  margin-top: 56px;
}

.footer-header {
  display: flex;
  align-items: center;
  gap: 24px;
  /* gap: 48px; */
  margin-left: 32px;
}
.span-region {
  font-size: 1.2rem;
}
.ul-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 24px;
  width: 80%;
}

.footer-action {
  display: flex;
  padding-top: 16px;
  text-decoration: none;
  color: white;
  line-height: 1.25;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
