.small-cards-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 54px;
}
.small-card-title {
  font-size: 1.6rem;
  font-family: var(--secondary-font);
  font-weight: 100;
  color: #363636;
  margin-top: 48px;
  padding-bottom: 24px;
}
.small-card-img {
  width: 269px;
  height: 269px;
  border-radius: 14px;
  cursor: pointer;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;

  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.small-card-img:hover {
  -webkit-transform: scale(1);
  padding: 4px;
  box-sizing: border-box;
  transform: scale(1);
  /* border-radius: 8px; */
  border: 2px solid rgba(15, 2, 190, 0.7);
  opacity: 0.9;
  background-color: black;
}

.priceSpan,
.nameSpan {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--secondary-font);
  font-size: 20px;
  line-height: 1.4;
  color: rgb(59, 59, 59);
  margin: 0.5em 0.2em;
}

.nameSpan {
  color: black;
  cursor: pointer;
  font-family: var(--secondary-font);
}

@media (max-width: 1600px) {
  .small-cards-container {
    gap: 46px;
  }
}

@media (max-width: 768px) {
  .small-cards-container {
    gap: 16px;
  }
  .small-card-img {
    width: 160px;
    height: 160px;
  }
}
