<div class="img-container">
  <img
    class="banner-img-home"
    src="assets/Stray-1-de-3840x2160-11jul22.jpg"
    alt=""
  />
</div>
<div class="home-container">
  <div class="span-container">
    <span class="">grandes jogos, grandes descontos</span>
    <button>
      <a class="btn-action" href="">Economize Já</a>
    </button>
  </div>

  <div class="card-container">
    <app-card></app-card>
    <app-cards-small title="10 melhores jogos no seu país"></app-cards-small>
    <app-cards-small title="Novos jogos"></app-cards-small>
    <app-cards-small
      title="Pré-venda"
      [showPriceSpan]="true"
      [isFreeGame]="false"
    ></app-cards-small>
    <app-cards-small
      title="Demonstrações"
      [isFreeGame]="true"
      [showPriceSpan]="false"
    ></app-cards-small>
  </div>

  <div class="img-container">
    <img
      class="banner-img-home"
      src="assets/Stray-4-de-2400x1350-11jul22.jpg"
      alt=""
    />
  </div>
  <div class="home-container">
    <div class="span-container">
      <span class="">Descubra o PlayStation Plus</span>

      <button>
        <a class="btn-action" href="">Saiba mais</a>
      </button>
    </div>
  </div>
</div>
