@import url(https://db.onlinewebfonts.com/c/6e0aa675bbc1061803aaef4f66550e49?family=SST+W20+Medium);
@import url(https://db.onlinewebfonts.com/c/8ccb0d14738c40917315dcc3852a8f39?family=SST+W20+Roman);
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "SST W20 Medium";
  --secondary-font: "SST W20 Roman";
}

body {
  /* background: rgb(115, 26, 201);
  background: linear-gradient(
    50deg,
    rgba(26, 84, 201, 0.9878151944371498) 7%,
    rgba(3, 42, 135, 1) 100%
  ); */
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
}
